.options {
  width: 22rem;
  border-radius: 2rem;
  background-color: white;
  border: none;
  color: #888888;
  padding: 0.5rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
  font-weight: 600;
}
.inputpnr {
  border-radius: 16.742px;
  border: 1.674px solid #de4d11;
  background: #fff;
  box-shadow: 0px 0px 5.023px 0px rgba(0, 0, 0, 0.18);
  color: #959595;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  padding: 0.6rem;
  text-align: center;
}
.uppermain1 {
  background-image: url(./../../Assets/Card.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


input[type="text"]:focus {
  border: 2px solid #de4d11; /* Change border color to orange when input is focused */
}

.button1 {
  border-radius: 16.742px;
  background: var(--Orange, #de4d11);
  box-shadow: 0px 0px 5.023px 0px rgba(0, 0, 0, 0.18);
  color: var(--Main-white, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.5rem;
}
/* .MuiInput-underline{
    padding: 2rem;
}
.MuiInput-underline:before {
  border-color: "#de4d11";
}
.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-color: "#de4d11";
}
.MuiInput-underline:after {
  border-color: "#de4d11";
} */
.options:hover,
.options.active {
  background-color: #de4d11;
  color: white; /* Add your desired hover/active styles here */
}

.end {
  width: 22rem;
  border-radius: 2rem;
  background-color: #de4d11;
  border: none;
  color: white;
  height: 2.5rem;
}

.menus {
  font-size: 2rem;
  color: #888888;
  /* border-radius: 50%; */
}

.menus:hover {
  color: #fe724c;
  /* padding: 5px;  */
}

.box-shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 38px;
  background-color: white;
}

.group-ordering {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  background-color: white;
}

.text-color {
  color: #888888;
}

.backcolor {
  background-color: #e1e1e1;
}

.menu-backcolor {
  background-color: white;
  overflow: hidden;
  position: relative;
}

.benefits {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-right: 2rem;
  margin-left: 2rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
}

@media only screen and (max-width: 600px) {
  .options {
    font-size: 13px;
    padding: 0.2rem;
    
  margin: 0rem 0.2rem 0rem 0.2rem;
  }
}
