/* CustomStepper.css */

.custom-stepper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.step {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.icon {
  margin-top: 7px;
  font-size: 24px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.icon.active {
  color: #de4d11; /* Active color */
}

.label {
  font-size: 16px;
  transition: all 0.3s ease;
}

.label.active {
  font-weight: bold;
}

/* Vertical dotted line between steps */
.step {
  position: relative;
}

/* CustomStepper.css */

/* Define the styles for the vertical line */
/* .line {
  position: absolute;
  bottom: 100%;
  left: 1.7%;
  width: 2px;
  height: 0;
  opacity: 0;
  border: 2px dotted gray;
  transition: height 0.3s ease, opacity 0.3s ease;
  z-index: -1;
}

.step.active .line {
  height: 100%;
  opacity: 1;
} */

@media only screen and (max-width: 600px) {
    .icon {
        margin-top: 7px;
        font-size: 30px;
        margin-right: 10px;
        transition: all 0.3s ease;
      }
  }
