.mainIRCTC p {
  color: #6b6b6b;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.376px;
}
.IRCTCpart {
  color: #6b6b6b;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 2rem;
}
.mainIRCTC1 p {
  color: #263238;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.4px;
}
