.marquee-container {
  overflow: hidden;
  height: 60vh;
}

.marquee {
  display: flex;
  flex-direction: column;
  animation: marquee 15s linear infinite;
}

.marquee-item {
  margin-bottom: 10px;
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
